adapter:
  adapter_type: "discord_webhook"
  bot_connections:
    - bot_token: "bot_token_1"
      application_id: "application_id_1"
    - bot_token: "bot_token_2"
      application_id: "application_id_2"
  connection_check_interval: 300  # Seconds to check connection
  max_message_length: 1999
  max_history_limit: 100
  max_pagination_iterations: 10
  webhooks:                                     # lists of additional webhooks to load
    - conversation_id: "guild_id/channel_id"    # should be a string in format guild_id/channel_id
      url: "webhook_url"
      name: "webhook_name"
attachments:
  storage_dir: "adapters/discord_webhook_adapter/attachments"
  max_file_size_mb: 8 # in MB
  max_attachments_per_message: 10
logging:
  logging_level: "info"  # Options: DEBUG, INFO, WARNING, ERROR, CRITICAL
  log_file_path: "adapters/discord_webhook_adapter/logs/development.log"
  log_format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
  max_log_size: 5242880
  backup_count: 3
rate_limit:
  global_rpm: 50
  per_conversation_rpm: 10
  message_rpm: 5
socketio:
  host: "127.0.0.1"
  port: 8083
  cors_allowed_origins: "*"
